header{
    width: 100%;
    height: 120px;
    z-index: 10;
}

nav{
    background-color: #86c232;   
    height: 30px;
    position: fixed;
    top: 70px;
    width: 100%;
    left: -0.1px;
    z-index: 3;
}

#mapaNavegacion{
    float: left;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

/*Campo para buscar*/

#buscarINPUT{   
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 15;
    display: none;
    position: fixed;
}

#cerrarBuscarINPUT{
    font-size: 40px;
    cursor: pointer;
}

/*Resolución imagenes*/

.imagenesRes{
    width: 100%;
    height: auto;
}

.enlaces{
    text-decoration: none;
    color: #474B4F;
}

/***************************************************Desplegable de categorias*************************************************************/

#desplegableCategoria{
    width: 200px;
    height: auto;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 11;
    margin: 5px 5px;
    display: none;
}

#desplegableCategoriaOff{
    position:relative;
     left:-15px
}
#desplegableUser{
    margin: 7px 5px;
    text-align: center;
}

#cerrarDesplegableCat{
    width: 45px;
    height: 40px;
    background-color:#474B4F;
    position: absolute;
    left: 100%;
    top: 20px;
    cursor: pointer;
}
#cerrarDesplegableCat i{
    font-size:25px;
    position: relative;
    top: 6px;
    left: 12px;
    color: white;
}

.categoriasDesplegable{
    margin-left: 10px;
}


/************************************************************Carrusel***********************************************************************/

#carruselImg{
    position: relative;
    bottom: 16px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
   content: '>';
   font-size: 55px;
   color: black;
}

.carousel-control-prev-icon:after {
   content: '<';
   font-size: 55px;
   color: black;
}


#carruselImg1{
    position: fixed; 
    z-index: 11;
    border: 7px  solid black;
    background-color: white; 
    margin-left: 22%;
    display: none;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 850px) {

     #carruselImg1{
        position: fixed; 
        z-index: 11;
        border: 7px  solid black;
        background-color: white; 
        margin-left: 22%;
        display: none;
        bottom: 60px;
    }
}

/*Fondo Gris cuando hace click en carrusel*/

.transFullPage{
    background-color: #474B4F; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;
    display: none;
}

/*****************************************************************************************************************************************/

/*Etiquetas ver todas principal*/

.etiquetas{
    padding: 10px;
    background-color: #474B4F;
    height: 40px;
    width: auto;
    color: white;
    margin-left: 3%;
}

.lineaEtiqueta{
    width: 82%; 
    height: 1px; 
    background-color: #474B4F; 
    margin-left: 10px; 
    margin-right: 10px;
}


footer{
    background-color: #474B4F; 
    height: 200px;
    margin-top: 50px;
}

/***********************************************************************Media query footer*******************************************************************************/

@media only screen and (min-width: 450px) {
    #footerFix{
        padding-top: 660px;
     }
    
}


@media only screen and (min-width: 550px) {
    #footerFix{
        padding-top: 720px;
     }
    
}

@media only screen and (min-width: 570px) {
    #footerFix{
        padding-top: 750px;
     }
    
}

@media only screen and (min-width: 630px) {
    #footerFix{
        padding-top: 820px;
     }
    
}

@media only screen and (min-width: 700px) {
    #footerFix{
        padding-top: 900px;
     }
    
}

@media only screen and (min-width: 780px) {
    #footerFix{
        padding-top: 1020px;
     }
    
  } 

@media only screen and (min-width: 890px) {
    #footerFix{
        padding-top: 350px;
     }
    
  } 
  
  @media only screen and (min-width: 992px) {
    #footerFix{
        padding-top: 370px;
     }
  } 

  @media only screen and (min-width: 1050px) {
    #footerFix{
        padding-top: 430px;
     }
  } 

  @media only screen and (min-width: 1200px) {
    #footerFix{
        padding-top: 520px;
     }
  }

/***********************************************Enlaces*****************************************************************************************************************/

footer li{
    list-style: none;
    float: left;
    color: white;
    margin-left: 20px;
}
footer a{
    color: white;
}
.enlaceF:hover{
    color:  #86c262;
}


a{
    text-decoration: none;
    color: #20272e;
}

a:hover{
    text-decoration: none;
    color: #474B4F;
}


/***********************************************Iconos*****************************************************************************************************************/

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#rss{
    width: 50%;
}
.rds {
    padding-top: 8px;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: 20px 5px;
    border-radius: 50%;
}
  
/*******************************************************************************************************************************************/

#infoPag{
    position: relative;
    top: -10px;
    color: white;
    font-size: 13px;
    text-align: center;
}

#gramtek{
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}


#SectProdCat{
    height: auto;
    margin-top: 120px;
}

#filtroProducto{
    border: 1px solid #c1c1c2;
    margin-left: 20px;
    width: 170px;
    height: 450px;
    margin-top: 135px;

}

.filtroClaseTitulo{
    height: 35px;
    width: 100%;
    margin-left:0.01px;
    background-color: #c1c1c2;
    margin-bottom: 7px;
    opacity: 0.7;
}

.filtroClaseNombre{
    padding-left: 5px;
    padding-top: 5px;
    color: black;
    font-size: 17px;
}

.filtroClasesCaja{
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.desplegableFiltroMenos{
    color: black;
    position: relative;
    left: 55px;
    top: 6px;
    font-size: 20px;
    z-index: 1;
}
.desplegableFiltroBarra{
    position: relative;
    left: 28px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.desplegableFiltroMas{
    color: black;
    position: relative;
    font-size: 20px;
    left: 37px;
    top: 6px;
    display: none;
    z-index: 1;
}

.fa-plus:hover{
    color: #86c262;
    opacity: 1;
}
.fa-minus:hover{
    color: #86c262;
    opacity: 1;
}


#ordDesc,#ordVendidos,#ordAsc{
    display: none;
}

#numProd{
    margin-left: 20px;
    margin-top: 10px;
}
#SelectFiltro{
    position: relative;
    height: 30px;
    right: 15px;
    border: 2px solid #86c232;
}
.productosShow{
  width:33%; 
  float:left;
}

.productosShow a{
    color: black;
  }

.productosShow:hover{
    border: solid 1px#c1c1c2;
}

#productosShowPrinc{
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    display: flex;  
    justify-content: center;
    width:25%; 
    float:left; 
}

#productosShowPrinc a{
    color: black;
  }


  #productosShowPrinc:hover{
   opacity: 0.9;
   border-right: 1px solid black;
   border-left: 1px solid black;
}

@media only screen and (max-width: 900px) {
    #productosShowPrinc{
        width:50%; 
        float:left;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
   
  }

  
/***********************************************************************************************************/




/*Prodcutos ventana*/


/*Imagenes minis*/

.cajasImagenes{
    position: relative;
    bottom: 15px;
    cursor: pointer;
}

.cajasImagenes img{
    width: 100%;
    height: auto;
    padding: 5px;
}

#caracteristicasProd{
    text-transform: uppercase;
}

#carrouselDetalleProd{
    margin-bottom: 50px;
    border: 1px solid #979799;
    cursor: pointer;
}
#carrouselDetalleProd img{
    width: 100%;
    height: auto;
    padding: 5px;
}

#detallesDetalleProd{
    width: 100%;
    background-color: #ececee;
    opacity: 0.9;
    height: auto;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

/*rating 1*/


.rating1{
    width: 1em;
    font-size: 18px;
    color: #86c262;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
}

#mediaValoracion{
    padding: 10px 0px 0px 5px;
    width: 290px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 10;
    margin-left: 10px;
}

/**/


/*Detalles del producto*/

#descDetalleProd{
    margin-top: 20px;
}


/*Imagenes de productos*/

#imagenesProd{
    height: auto;
    
}

/*Texto producto de categorias ASIDE*/

.textoProdCat{
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

/*Cajas de productos categoria ASIDE*/

.cajasImagenesCat{
    cursor: pointer;
}

.cajasImagenesCat:hover{
    opacity: 0.9;
}

/*Cajas de imagenes categoria ASIDE*/
.cajasImagenesCat img{
    width: 100%;
    height: auto;
    padding: 10px;
}

#botonFiltroDesaparecen{
    position: fixed;
    width: 46px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: #cecece;
    border-radius: 4px;
    border: 1px solid black;
}


#detallesDespleableCarro{
    border: 1px solid black;
    height: 300px;
    position: absolute;
    bottom: 50px;
    width: 95%;
    background-color: white;
    display: none;
}
/*Form para el crud*/



/*Precio del producto*/



/*Flechas para cantidad producto*/

.chevron{
    font-size: 37px;
    cursor: pointer;
}


.chevron:hover{
    font-weight: bold;
    color: #86c262;
}

/*Cantidad input*/

#numeroCantidad{
    width: 40px;
    height: 30px;
  
    background-color: white;
    padding-left: 4%;
    border: 1px black solid;
    text-align: center;
}

#botonComprar{
    height: 50px;
    width: 57%;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: #474B4F;
    border: 1px solid black;
}
#botonComprar:hover{
    font-weight: bold;
    color: #86c232;
}


/*Añadir producto al carrito*/

#botonCarritoProd{
    height: 50px;
    width: 20%;
    margin-top: 20px;
    color: white;
    background-color: #474B4F;
    border: 1px solid black;
    font-size: 24px;
}

#botonCarritoProd:hover{
    font-weight: bold;
    color: #86c232;
}

.botonCrud{
    background-color: #474B4F;
    border: 1px solid black;
    font-weight: bold;
}

.botonCrud:hover{
    background-color: #474B4F;
    color:   #86c232;
}



/***************************************************************************************************************/

/*Añadir producto a Favoritos*/

#botonFavoritoProd{
    height: 50px;
    width: 20%;
    float: right;
    bottom: 50px;
    right: 8px;
    color: white;
    background-color: #474B4F;
    border: 1px solid black;
    font-size: 24px;
    position: relative;
}

#botonFavoritoProd:hover{
    font-weight: bold;
    color: #86c232;
}

/***************************************************************************************************************/

/*Detalles de usuario*/

#editarFotoUser{
    width: 470px;
    height: 50px;
    background-color:#474B4F ;
    position: relative;
    z-index: 1;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#cerrarFotoUser{
    font-size: 25px;
    cursor: pointer;
}

.recuadrosUsuario{
    text-align: center;
    padding-top:25px;
    border: 2px solid  #474B4F;
    background-color: #ececee;
    
}
.recuadrosUsuario:hover{
    background-color:#cecece;
    cursor: pointer;
}

#contenidoUsuario{
    position: relative;
    z-index: 2;
    margin-top: 35px;
    border: 1px solid #474B4F;
}

#asideUsuario{
    position: relative;
    top: 35px;
    left: 5px;
}

#usuarioDatos{
    height: auto;
    padding-top: 92px;
}


#headerUsuario{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.1px;
    top: -0.1px;
    width: 100%;
    height: 180px;
    margin: auto;
    background-color: #cecece;
    border: 1px solid #474B4F;
}
#headerUsuario img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    left: 45%;
    top: 10%;
}

#headerUsuario h4{
    position: absolute;
    left: 40%;
    top: 73%;
}

.camposUsuario{
    width: 18%;
    margin: 10px;
}

#imgPrinc{
    width: 100%;
    height: auto;
}


#articleResenas{
    position: relative;
    z-index: 2;
    margin-top: 35px;
    border: 1px solid #474B4F;
}

/***************************************************Detalles de usuario productos Favoritos**************************************************/

#articleFavoritos{
    position: relative;
    z-index: 2;
    margin-top: 35px;
    border: 1px solid #474B4F;
}

#productosFavortios{
    width:33%; 
    float:left; 
}

#productosFavortios a{
    color: black;
  }


  #productosFavortios:hover{
    border: solid 1px#c1c1c2;
    opacity: 0.9;
}


/**********************************************************Detalles de usuario Pedidos*******************************************************/
#articlePedidos{
    position: relative;
    z-index: 2;
    margin-top: 25px;
    border: 1px solid #474B4F;
}

/************************************************************Crear Prodcuto********************************************************************/


.crearProdImages{
    padding-top:5px;
    padding-bottom:5px;
}


/************************************************************Carrito********************************************************************/


#cajaProdCarrito img{
    height: auto;
    cursor: pointer;
   
}


#cajaProdCarrito{
    width: 100%;
    height: 430px;
    overflow: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#prodEnRelaizarPed{
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button*/ 

.bodyProducto{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

#botonEliminarCarrito{
    position: relative;
    background-color: rgb(0, 0, 0, 0);
    border: rgb(0, 0, 0, 0);
}

#inputCantidadCarrito{
    position: relative;
    bottom: 13px;
    width: 35px;
    pointer-events: none;
}

#inputCantidadCarrito{
    -moz-appearance: textfield;
}

#inputCantidadCarrito::-webkit-outer-spin-button,
#inputCantidadCarrito::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btnCevron{
    background-color: rgb(0, 0, 0, 0);
    border: rgb(0, 0, 0, 0);
}


/************************************************************Pago********************************************************************/

#pago{
    display: none;
    position: absolute;
    z-index: 15;
    left: 20%;
    top: 80px;
    width: 60%;
    height:630px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

@media only screen and (max-width: 840px) {
    #pago{
        display: none;
        position: absolute;
        z-index: 15;
        left: 10%;
        top: 100px;
        width: 80%;
        height:630px;
        background-color: white;
        border: 1px solid black;
       }
  }

  @media only screen and (max-width: 740px) {
    #pago{
        display: none;
        position: absolute;
        z-index: 15;
        left: 10%;
        top: 60px;
        width: 80%;
        height:660px;
        background-color: white;
        border: 1px solid black;
       }
  }

.cajaPago{
    border: 1px solid black;
    height: auto;
}

.cajaPago1{
    border: 1px solid black;
    height: 240px;
    overflow: auto;
    white-space: nowrap;
}
/***************************************************************Reseñas*********************************************************************/

.input-sm{
 position: fixed;
 top: 13px;
 left: 280px;
 padding-left: 30px; 
 padding-right: 30px;  
 z-index: 15;
}

.dataTable{
    position: fixed;
    top: 43px;
    left: 288px;
    z-index: 15;
    width: 263px;
    background-color: white;
    border: 1px solid black;
}

@media only screen and (max-width: 950px) {
    .input-sm{
        position: fixed;
        top: 13px;
        left: 220px;
        padding-left: 30px; 
        padding-right: 30px;  
        z-index: 15;
       }

       .dataTable{
        position: fixed;
        top: 43px;
        left: 248px;
        z-index: 15;
        width: 233px;
        background-color: white;
        border: 1px solid black;
    }
  }


@media only screen and (max-width: 940px) {
    .input-sm{
        position: fixed;
        top: 13px;
        left: 230px;
        padding-left: 10px; 
        padding-right: 10px;  
        z-index: 15;
       }

    .dataTable{
        position: fixed;
        top: 43px;
        left: 238px;
        z-index: 15;
        width: 223px;
        background-color: white;
        border: 1px solid black;
    }
   
  }

@media only screen and (max-width: 800px) {
    .input-sm{
        position: fixed;
        top: 13px;
        left: 220px;
        padding-left: 10px; 
        padding-right: 10px; 
        z-index: 15; 
       }
   
  }


@media only screen and (max-width: 767px) {
    .input-sm{
        position: fixed;
        top: 15px;
        left: 20px;
        padding-left: 30px; 
        padding-right: 30%; 
        z-index: 15; 
       }
   
    .dataTable{
        position: fixed;
        top: 43px;
        left: 25px;
        z-index: 20;
        width: 380px;
        background-color: white;
        border: 1px solid black;
    }
  }


#opinionesProd{
    padding-bottom:40px ;
    height: auto;
    border-top:1px solid black ;
    border-bottom:1px solid black ;
    border-radius: 10px;
}

#inputResena{
    font-size:18px;
    height: 60px;
    width: 100%;
    resize: none;
    border-radius: 5px;
}

#imagenUsuarioResena{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

/* Código de https://bbbootstrap.com/snippets/star-rating-pure-css-19646372*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
    margin-right: 10px;
    position:relative;
    float:left;
}

.rating2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
    margin-right: 25px;
    position:relative;
    float: right;
}

.rating>input{
    display: none;
}

.rating>label{
    position: relative;
    width: 1em;
    font-size: 33px;
    color: #86c232;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
/*Hasta aquí*/

.puntuacionReseñas{
    width: 1em;
    font-size: 25px;
    color: #86c232;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
}


#nombreResena{
    float:left;
    font-size:18px;
    margin-left: 18px;
    overflow: hidden;
   
}

.eleiminarBotResen{
    position: absolute;
    margin-top: 51px;
}

#botonEditarResena{
    font-size:18px;
    position:absolute;
    right: 160px;
    margin-top: 78px;
}
#botonEditarResena1{
    font-size:18px;
    position:absolute;
    right: 155px;
    margin-top: 70px;
}

/***************************************************************Soporte*****************************************************/

#descripcionSoporte{
border: 1px solid black;
height: 350px;

}
p{
    font-size: 17px;
}
/***************************************************************Typografía*****************************************************/

@font-face { 
    font-family: helvetica_bold1; 
    src: url('/tipografia/helvetica_bold1.TTF'); 
    font-family: 'Bahij Palatino Sans Arabic Bold';
    src: url('/tipografia/Bahij Palatino Sans Arabic-Bold.ttf');
} 
      h1,h2,h3,h4,h5,h6 {
         font-family: helvetica_bold1;
      }
     
   